name: Build and Release OpenAIA Debos 6TOPS

on:
  push:
    branches:
      - master

jobs:
  build:
    permissions: write-all
    name: OpenAIA Debos 6TOPS runner
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Download Artifacts
      run: ./download-artifacts.sh

    - name: Set up Remote Docker
      uses: docker/setup-buildx-action@v1

    - name: Build OpenAIA Debos
      run: |
        docker run --rm --tty \
          --privileged \
          --net host \
          -v ${{ github.workspace }}:/home/build/shared \
          -w /home/build/shared ghcr.io/openaia/easy-build/build-debos:bookworm-v0.1 \
          sudo debos --memory=4Gb -t imgname:6tops recipe.yaml

    - name: Upload output artifacts
      uses: softprops/action-gh-release@v1
      with:
        tag_name: "v2023.12-6TOPS-rc3"
        body: |
          ## OpenAIA Debos v2023.12-6TOPS-rc3
          - Add WiFi firmware
          - Add RTL Ethernet firmware
          - Add BT firmware
          - Add linux-next support
          - Cleanup packages
          - Add new artifacts for linux-next
        files: |
          ${{ github.workspace }}/ospack-bullseye-arm64.tar.gz
          ${{ github.workspace }}/osvideopack-bullseye-arm64.tar.gz
          ${{ github.workspace }}/openaia-bullseye-6tops.bmap
          ${{ github.workspace }}/openaia-bullseye-6tops.img.gz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
